body {
  background: orangered;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #f3f8ff;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1b61d1;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

button {
  width: 100%;
  background: #1b61d1;
  border: none;
  padding: 14px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #0d4bb3;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #1b61d1;
  font-weight: bold;
}